Package: spotitube
Version: :VERSION:
Maintainer: Davide Pucci <posta@davidepucci.it>
Priority: optional
Architecture: all
Description: Synchronize your Spotify collections downloading from external providers.
Depends: ffmpeg, youtube-dl
