Package: spotitube
Version: :VERSION:
Maintainer: Davide Pucci <posta@davidepucci.it>
Priority: optional
Architecture: all
Description: Shell go-lang application to incrementally download from Spotify into local folder.
Depends: ffmpeg, youtube-dl
