name: push

on: # yamllint disable-line rule:truthy
  push: null
  pull_request: null

permissions:
  actions: read
  attestations: none
  checks: none
  contents: read
  deployments: none
  id-token: none
  issues: none
  discussions: none
  packages: none
  pages: none
  pull-requests: read
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: codespell-project/actions-codespell@8f01853be192eb0f849a5c7d721450e7a467c579
        with:
          check_filenames: true
  super-linter:
    runs-on: ubuntu-latest
    permissions:
      statuses: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - run: mv -vf .github/linters/* ./
      - uses: super-linter/super-linter/slim@502f4fe48a81a392756e173e39a861f8c8efe056
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: ${{ !contains(github.event_name, 'pull_request') }}
          VALIDATE_GO: false
  gofumpt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@v6
      - run: |
          PATH="$PATH:$(go env GOPATH)/bin"
          export PATH
          go install mvdan.cc/gofumpt@latest
          if gofumpt -l -e . | grep '^' -q; then exit 1; fi
  go-channel-closure:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - run: test "$(grep -Erc --exclude-dir=".git*" 'make\(chan\s')" = "$(grep -Erc --exclude-dir=".git*" '\sclose\(')"
  go-http-body-closure:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - run: test "$(grep -rc --exclude-dir=".git*" 'http.Get(\|http.Head(\|http.DefaultClient.Do(')" = "$(grep -rc --exclude-dir=".git*" '.Body.Close()')"
  go-monkey-unpatch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - run: test "$(grep -cr 'defer gomonkey\.')" = "$(grep -cr 'Reset()$')"
  test:
    runs-on: ubuntu-latest
    needs:
      [
        codespell,
        super-linter,
        gofumpt,
        go-channel-closure,
        go-http-body-closure,
        go-monkey-unpatch,
      ]
    if: success()
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@v6
      - run: |
          echo Testing...
          go test -p 1 -v -timeout 30s ./...
          echo Checking coverage...
          go test -p 1 -v -timeout 30s -cover ./... | grep -E '[1-9]{1}[0-9]{1}.[0-9]+%' && exit 1 || echo ok
        env:
          XDG_MUSIC_DIR: /tmp
  notify:
    needs: [test]
    if: success() && github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: filter
        with:
          filters: |
            docs:
              - 'docs/**'
      - uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697
        if: steps.filter.outputs.docs == 'true'
        with:
          token: ${{ secrets.REPOSITORY_DISPATCH_STREAMBINDER }}
          repository: streambinder/streambinder
          event-type: doc-sync
          client-payload: '{"repo": "${{ github.repository }}", "ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
  benchmark:
    runs-on: ubuntu-latest
    needs: [test]
    if: success()
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@v6
      - run: go test -benchmem -bench '^Benchmark.*$' ./... | grep ^Benchmark
  build:
    runs-on: ubuntu-latest
    needs: [test]
    if: success() && github.event_name == 'push' && github.ref == 'refs/heads/master'
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          secrets: |
            SPOTIFY_ID=${{ secrets.SPOTIFY_ID }}
            SPOTIFY_KEY=${{ secrets.SPOTIFY_KEY }}
            GENIUS_TOKEN=${{ secrets.GENIUS_TOKEN }}
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8
          tags: ghcr.io/streambinder/spotitube:latest
          push: ${{ github.event_name != 'pull_request' }}
