name: scrape

on:
  schedule:
    - cron: 0 0 * * *

permissions: read-all

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
      - run: go test -v -run ^TestScraping$ ./...
        env:
          TEST_SCRAPING: true
          GENIUS_TOKEN: ${{ secrets.GENIUS_TOKEN }}
