name: tag

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  actions: read
  attestations: none
  checks: none
  contents: read
  deployments: none
  id-token: none
  issues: none
  discussions: none
  packages: none
  pages: none
  pull-requests: read
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@v6
        with:
          cache: false
      - run: |
          go test -p 1 -v -timeout 30s ./...
        env:
          XDG_MUSIC_DIR: /tmp
  build:
    runs-on: ubuntu-latest
    needs: [test]
    if: success()
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@v6
        with:
          cache: false
      - run: |
          go mod download
          for os in linux darwin windows; do
            for arch in arm64 amd64; do
              fname="spotitube-${os}-${arch}"
              if test "${os}" = "windows"; then
                fname="${fname}.exe"
              fi
              echo "building $fname..."
              GOOS=$os GOARCH=$arch CGO_ENABLED=0 go build -ldflags="-s -w
                -X github.com/streambinder/spotitube/spotify.fallbackSpotifyID=$SPOTIFY_ID
                -X github.com/streambinder/spotitube/spotify.fallbackSpotifyKey=$SPOTIFY_KEY
                -X github.com/streambinder/spotitube/lyrics.fallbackGeniusToken=$GENIUS_TOKEN
              " -o "$fname"
            done
          done
        env:
          SPOTIFY_ID: ${{ secrets.SPOTIFY_ID }}
          SPOTIFY_KEY: ${{ secrets.SPOTIFY_KEY }}
          GENIUS_TOKEN: ${{ secrets.GENIUS_TOKEN }}
      - uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          token: ${{ secrets.RELEASE_SPOTITUBE }}
          files: ./spotitube-*
          draft: false
          prerelease: false
  docker:
    runs-on: ubuntu-latest
    needs: [test]
    if: success()
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          secrets: |
            SPOTIFY_ID=${{ secrets.SPOTIFY_ID }}
            SPOTIFY_KEY=${{ secrets.SPOTIFY_KEY }}
            GENIUS_TOKEN=${{ secrets.GENIUS_TOKEN }}
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8
          tags: ghcr.io/streambinder/spotitube:${{ github.ref_name }}
          push: true
